/* table {
    border: 1px solid black;
    table-layout: fixed;
    width: 3000px;
  }
  
  th.description,
  td.description{
    border: 1px solid black;
    width: 100px;
    overflow: hidden;
  } */